*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    background-color: #fafcfd;
    font-family: Roboto;
}
.main{
    display:flex;
    width: 50%;
    background-color: #fff;
    margin: 50px 100px;
    margin-left: auto;
    margin-right: auto;
}
.col-left{
    flex: 50%;
    padding: 16px;
}
.col-left img{
    height: 40px;
    width: 45px;
    position: absolute;
    top:30px;
}
.col-left h4{
    color:#000;
    font-size: 20px;
    margin-bottom: 10px;
}
.col-left p{
    margin-bottom: 10px;
    color: rgb(59, 58, 58);
    font-size: 12px;
}
span a{
    color: #ff5160;
}
.container {
    background-color: white;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #8080807c;
    border-radius: 5px;
   
}
input[type=text]:focus, input[type=password]:focus {
    border:1px solid #ff5160;
    outline: none;
}

button{
    width: 100%;
    height: 35px;
    background-color: #ff5160;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
button:hover{
    background: #ff51607c;
}
.col-right{
    flex:50%;
    background-image: linear-gradient(rgba(0,0,0,0.2) , rgba(0,0,0,0.2)) ,url('background.png');
    background-size: cover;
}
@media (max-width:960px) {
   .col-right{
       display: none;
   }
}